@media screen {
    div {
        height: 1468px;
        width: 1920px;
        left: -5622px;
        top: -8265px;
        border-radius: 0px;
    }
}

.body {
    background: #E5E5E5;
}

.block__row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 40px;
    gap: 10px;
    position: absolute;
    width: 796px;
    height: 512px;
    left: 260px;
    top: 160px;
    border: 1px solid #FFA300;
    border-radius: 20px;
}

.block__text {
    width: 716px;
    height: 432px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    color: #FFA300;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.block__right {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    gap: 10px;
    position: absolute;
    width: 528px;
    height: 836px;
    left: 1132px;
    top: 160px;
    border: 1px solid #9A9A9A;
    border-radius: 20px;
}

.block__text2 {
    width: 448px;
    height: 756px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    color: #9A9A9A;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.block__bot {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 40px;
    gap: 10px;
    position: absolute;
    width: 796px;
    height: 260px;
    left: 260px;
    top: 732px;
    border: 1px solid #000000;
    border-radius: 20px;
}

.block__text3 {
    width: 716px;
    height: 180px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}